@media screen and (max-width: 1000px){

    #main-card {
        height: 700px;
        
    }
    
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: space-evenly;
    }

    header nav ul {
        justify-content: space-between;
        display: flex;
        flex-direction: row;

    }

    #main-card {
        height: 700px;
        flex: 2 1 100%;
    }

    .contact-wrapper ul li {
        display: flex;
        flex-direction: column;
        width: 25%;
    }
}