* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0px;
    font-family: sans-serif;

}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gray;
    padding: 30px;
    font-size: 24px;
    
}

nav ul {
    background-color: gray;
    font-size: large;
    margin-top: 10px;
}

nav ul li {
    padding: 10px 20px;
    margin: 0px 20px;
    background-color: gray;
    border-bottom: white solid 3px;
    color: white;
    display: inline-block;

}

nav ul li:hover {
    font-weight: bold;
    border-bottom: white solid 6px;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.banner {
    position: relative;
    background-image: url("https://placekitten.com/1700/300");
    background-size: cover;
    height: 300px;
}

header h1 {
    color: white;
    background-color: gray;
    margin-left: 20px;
    margin-top: 10px;
}



.banner h2 {
    color: white;
    font-size: 36px;
    position: absolute;
    right: 70px;
    top: 60%;

}

.aside-wrapper {
    border-right: 5px solid black;
    /* padding: 40px;
    flex: 0 0 200px; */
    font-size: 24px;

}


.about-me-wrapper {
    display: flex;
    margin: 20px;

}

.about-me-wrapper p {
    padding: 10px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 30px;

}


.work-wrapper {
    display: flex;
    box-sizing: border-box;
    margin: 20px;
}

.work-wrapper a {
    text-decoration: none;
    color: white;
}

.work-wrapper a:hover {
    border-bottom: white solid 3px;
}


.work-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

#projects {
    justify-content: center;
}

.work-wrapper ul li {
    height: 300px;
    border: gray solid 5px;
    margin: 20px;
    flex: 1 1 500px;
    cursor: pointer;
  
}

.work-wrapper ul li:hover {
    border: gray solid 10px;
    opacity: 0.5;
}

.work-wrapper ul li h2 {
    background-color: gray;
    color: white;
    position: absolute;
    bottom: 20px;
    padding: 10px;
}

.sub-label {
    font-size: 15px;
}


#main-card {
    background-image: url(./images/daisy_portfolio.png);
    background-size: cover;
    position: relative;
    height: 700px;
    flex: 2 0 95%;
    
}


#card2 {
    background-image: url(./images/weather_portfolio.PNG);
    background-size: cover;
    position: relative;

}

#card3 {
    background-image: url("https://placekitten.com/500/310");
    background-size: cover;
    position: relative;

}

#card4 {
    background-image: url("https://placekitten.com/400/305");
    background-size: cover;
    position: relative;

}

#card5 {
    background-image: url("https://placekitten.com/500/300");
    background-size: cover;
    position: relative;

}


.contact-wrapper {
    display: flex;
    margin: 20px;
}

.contact-wrapper ul {
    margin-top: 50px;
    justify-content: space-around;
}

.contact-wrapper ul li {
    display: inline;
    float: left;
    margin: 0px 10px;
    padding: 10px 20px;
    border-bottom: gray solid 3px;
    color: black;
}

.contact-wrapper ul li:hover {
    font-weight: bold;
    border-bottom: gray solid 6px;
    cursor: pointer;
}

.contact-wrapper ul li a {
    text-decoration: none;
    color: black;
}